body{
  margin:0;
  padding:0;
  width:100%;
  
}
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
  font-family:"Montserrat";
}
nav{

  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin:0 auto;
  background-color: #ffffff;
}
#sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem;
  padding:1rem;

}
.bx{
  order:1
}


#sidebar li{
 width:100%
}
#sidebar a{
  width:100%;
  color:white;
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  

}
#sidebar a:hover{
  color:red;
  scale:1.02;
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);;
  border-radius: 5px;
  
}
nav h1{
  color:black;
  padding:80px;
  transition:all 0.4s ease-in-out;
}
nav h1:hover{
  transform: rotate(360deg);
}
nav #pages{
  display:flex;
  justify-content: center;
  position:relative;
  gap:2rem;

}
nav #pages a{
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  position:relative;
}
nav #pages i{
  margin-left:50px;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 2;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  background-color: #63bbd8;
  
 
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  transition: 10;
}

.dropdown-content a {
   
  padding: 10px;
  margin:0;
  display: inline-block;
  color:white;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color:red;

}
.menu-btn{
  display:none;
}
@media(max-width:500px){
  #sidebar{
    width:100%;
    
  }
}
@media (max-width:800px){
  #hidden{
    display:block;
  }
  .menu-btn{
    display:block;
  }
}
@media(max-width:800px){
  .hide{
    display:none;
  
}}
.container{
  width:100%;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(196, 199, 201);
  background-position:bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background:linear-gradient(90deg,rgb(227, 222, 230) 0%, rgb(13, 90, 120) 35%, rgb(103, 219, 243) 100%);

  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  
  
  


  
}


form{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;

  width:30%;

  backdrop-filter: blur(10px);
  gap: 1rem;
  border: 4px solid rgb(238, 243, 245);
  border-radius:10px;
  
}
form h3{
  color:#5456;
  font-weight: 800px;
  margin-bottom:20px;


}
form input, form textarea{
  border:1px;;
  margin:10px,0px;
  padding:20px;
  outline:none;
  background:#ffffff;
  font-size:16px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
}
form button{
  padding:15px;
  background:#6af5ff;
  color:#f5f5f5;
  border:0;
  border-radius: 5px;;
  outline:none;
  cursor:pointer;
  width:150px;
  margin:20px auto 0;


}
form button:hover{
  scale:1.01;
  

}
@media(max-width:800px){
  form{
    width:30%;
  }
  form h3{
    margin-bottom:5px;
    font-weight:300px;
    font-size: 10px;
  }
  form button{
    padding:15px;
    background:#ff5361;
    color:#f5f5f5;
    border:0;
    outline:none;
    cursor:pointer;
    width:100px;
    margin:20px auto 0;
  }
}