body{
  margin:0;
  padding:0;
  

}
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
  font-family:"Montserrat";
}
#main{
  text-align: center;
  margin-top: 2rem;
  color:rgb(72, 32, 32);
  text-decoration:underline;
  margin-bottom:2rem;
}
#first{
  width:400px;
 
  float:right;
  margin-left:2rem;
  margin-right:2rem;
  border-radius: 2px;
  cursor:pointer;
  z-index:999;
}
#second{
  width:450px;
  height:250px;
  float:left;
  margin-left:2rem;
  margin-right:2rem;
  border-radius: 2px;
  cursor:pointer;
  z-index:999;
}
#all{
  margin-bottom:2rem;
}

h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left:1rem;
  letter-spacing: 3px;
  opacity:0.8;
  font-size: 25px;;
}
p{
  margin-left: 2rem;
  font-size:22px;
  color:rgb(37, 121, 145);
  font-size: 30px;

}

.wrapper{
  position:absolute;
  width:100%;
  height:100%;
  overflow-y: scroll;
  background:linear-gradient(90deg,rgb(227, 222, 230) 0%, rgb(140, 221, 253) 35%, rgb(103, 219, 243) 100%);
}

.box div{
  position: absolute;
  width:60px;
  height:60px;
  background-color: transparent;
  border:6px solid rgba(255,255,255,0.8);

}
.box div:nth-child(1){
  top:12%;
  left:42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top:70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top:17%;
  left:6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top:20%;
  left:60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top:67%;
  left:10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top:80%;
  left:70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top:60%;
  left:80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top:32%;
  left:25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top:90%;
  left:25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top:20%;
  left:80%;
  animation: animate 5s linear 2s infinite ;

}
@keyframes animate{
  0%{
    transform:scale(0) translateY(0) rotate(0);
    opacity:1;

  }
  100%{
    transform:scale(1.3) translateY(-100px) rotate(360deg);
    opacity:0;
  }
}
@media(max-width:800px){
  #main{
    font-size: 25px;
    margin-bottom:1rem;
  }
  h3{
    font-size:20px;
  }
  p{
    font-size:20px;
  }
  #first{
    width:150px;
  }
  #second{
    width:150px;
    height:150px;
  }
  
}
@media(max-width:700px){
  h1{
    font-size: 24px;
  }
  h3{
    font-size:18px;
  }
  p{
    font-size:14px;
  }
  #first{
    width:140px;
  }
  #second{
    width:140px;
    height:140px;
}}
@media(max-width:400px){
  #main{
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  h3{
    font-size:14px;
    margin-bottom: 0.3rem;
  }
  p{
    font-size:10px;
  }
  #first{
    width:120px;
  }
  #second{
    width:100px;
    height:100px;
  }
}
nav{

  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin:0 auto;
}
#sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem;
  padding:1rem;

}
.bx{
  order:1
}


#sidebar li{
 width:100%
}
#sidebar a{
  width:100%;
  color:black;
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  

}
#sidebar a:hover{
  color:red;
  scale:1.02;
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);;
  border-radius: 5px;
  
}
nav h1{
  padding:80px;
  transition:all 0.4s ease-in-out;
}
nav h1:hover{
  transform: rotate(360deg);
}
nav #pages{
  display:flex;
  justify-content: center;
  position:relative;
  gap:2rem;

}
nav #pages a{
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  position:relative;
}
nav #pages i{
  margin-left:50px;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 2;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  background-color: #63bbd8;
  
 
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  transition: 10;
}

.dropdown-content a {
   
  padding: 10px;
  margin:0;
  display: inline-block;
  color:white;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color:red;

}
.menu-btn{
  display:none;
}
@media(max-width:500px){
  #sidebar{
    width:100%;
    
  }
}
@media (max-width:800px){
  #hidden{
    display:block;
  }
  .menu-btn{
    display:block;
  }
}
@media(max-width:800px){
  .hide{
    display:none;
  }
}