body{
  width:100%;
  height:100vh;
}
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
  font-family:"Montserrat";
}
#background{
  width:100%;
  height:100vh;

  
  
}

nav{

  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin:0 auto;
}
#sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem;
  padding:1rem;

}
.bx{
  order:1
}


#sidebar li{
 width:100%
}
#sidebar a{
  width:100%;
  color:black;
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  

}
#sidebar a:hover{
  color:red;
  scale:1.02;
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);;
  border-radius: 5px;
  
}
nav h1{
  padding:80px;
  transition:all 0.4s ease-in-out;
}
nav h1:hover{
  transform: rotate(360deg);
}
nav #pages{
  display:flex;
  justify-content: center;
  position:relative;
  gap:2rem;

}
nav #pages a{
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  position:relative;
}
nav #pages i{
  margin-left:50px;
  text-decoration: none;
}

#sections{
  width:100%;
  height:calc(100%-80px);
  display:flex;
  

}
#left-section{
  width:50%;
  height:100%;
  padding:150px;

}
#right-section{
  width:50%;
  height:100%;
}
#smline{
  width:50px;
  height:4px;
  background-color: black;
}
#left-section h4{
  font-family:"Montserrat";
  font-size:25px;
  margin-top:20px;
}
#left-section h1{
  color:rgb(0, 166, 255);
  margin-top:10px;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #10b2e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Caveat', 'cursive';
  font-family: 'Geologica', sans-serif;

}

#left-section p{
  margin-top:15px;
  font-size:20px;
  display:block;
}
#left-section p span{
  color:rgb(87, 87, 181);
  font-weight: bold;
  letter-spacing: 3px;
}
hr{
  width:100%;
}
#contact{
  margin-top: 270px;
}
#contact h6{
  margin-top:5px;
}
#contact h6 span{
  color:#04C2C6;
}


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 2;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  background-color: #63bbd8;
  
 
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  transition: 10;
}

.dropdown-content a {
   
  padding: 10px;
  margin:0;
  display: inline-block;
  color:white;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color:red;

}

#right-section img{
  width:50%;
  height:60%;
  margin: 100px 100px;
  border-radius:50%
}
#right-section{
  width:50%;
  height:100%;
  
}
#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:0;
  left:0;
  z-index: 99;
  background-color: white;
  height:100%;
  width:100%;
  animation: loading2 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}
#load{
  width:500px;
  
  height:100px;

  overflow:hidden;
}
#load .box{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#loader #load .box h1{
  color:rgb(0, 166, 255);
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #10b2e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Caveat', 'cursive';
  font-family: 'Geologica', sans-serif;
}
@keyframes loading{
  to{
    margin-top:-100px;
    
  }

}
#load .box:nth-child(1){
  animation: loading 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#load .box:nth-child(2){
  animation: loading 1.5s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}
#load .box:nth-child(3){
  animation: loading 1.5s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}
.menu-btn{
  display:none;
}
@keyframes loading2{

   to{
    transform: translateY(-100%);
    opacity:0.2;
   }

}
@media(max-width:800px){
  .hide{
    display:none;
  }
}
@media(max-width:500px){
  #sidebar{
    width:100%;
    
  }
  #left-section h1{
    margin-top:5px;
    font-size: 25px;}
  #left-section p{
    margin-top:25px;
    font-size: 15px;}
  #left-section h4{
    margin-top:5px;
    font-size:15px;
  }
}
@media (max-width:800px){
  #hidden{
    display:block;
  }
 .menu-btn{
    display:block;
  }
  }
@media(max-width:800px){
  #sections{
    display:block;
  }
  #left-section{
    width:100%;
    padding:100px;
  }
  #right-section{
    width:100%;
  }
  #right-section img{
    margin: 17% 25%;
  }

  
}
@media(max-width:900px)and (min-width:500px){
  #left-section h1{
    margin-top:5px;
    font-size: 42px;}
    #left-section p{
      margin-top:25px;
      font-size: 25px;}
}

@media(max-width:800px)and (min-width:500px){
  #left-section h4{
    font-size:25px;
  margin-top:10px;
  }
  #left-section h1{
    margin-top:5px;
    font-size: 72px; 
  }
  @media(max-width:320px){
  #left-section{
    width:100%;
    padding:0px;
  }}}


  
