body{
  width:100%;
  height:100vh;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow:scroll;
}
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
  color:white;
}
nav{

  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin:0 auto;
  background-color: #fafafa;
}
#sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem;
  padding:1rem;

}
.bx{
  order:1
}


#sidebar li{
 width:100%
}
#sidebar a{
  width:100%;
  color:white;
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  

}
#sidebar a:hover{
  color:red;
  scale:1.02;
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);;
  border-radius: 5px;
  
}
nav h1{
  color:black;
  padding:80px;
  transition:all 0.4s ease-in-out;
}
nav h1:hover{
  transform: rotate(360deg);
}
nav #pages{
  display:flex;
  justify-content: center;
  position:relative;
  gap:2rem;

}
nav #pages a{
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  position:relative;
}
nav #pages i{
  margin-left:50px;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 2;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  background-color: #63bbd8;
  
 
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  transition: 10;
}

.dropdown-content a {
   
  padding: 10px;
  margin:0;
  display: inline-block;
  color:white;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color:red;

}
.menu-btn{
  display:none;
}
@media(max-width:500px){
  #sidebar{
    width:100%;
    
  }
}
@media (max-width:800px){
  #hidden{
    display:block;
  }
  .menu-btn{
    display:block;
  }
}
@media(max-width:800px){
  .hide{
    display:none;
  }
}
#up{
  background-image: url(./images/cyber-3400789_1280.webp);
}
#down{
  background-image: url(./images/cyber-3400789_1280.webp);
}
#main{
  text-align: center;
  margin-top:0rem;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}
.main2{
  margin-top:2.5rem;
  margin-bottom:2.5rem;
  margin-left:1rem;
  margin-right:1rem;
}
.main2:hover{
  color:rgb(121, 34, 34);
  
}

#xlr8{
  width:95%;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
  box-shadow: -10px 0 10px rgba(0,0,0,0.9);
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  border-radius:10px;
  display:flex;
  
}
#xlr8 p{
  padding:1rem 0.5rem;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
}
#rcplane{
  width:95%;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
  box-shadow: -10px 0 10px rgba(0,0,0,0.9);
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  border-radius:10px;
  display:flex;
  gap:5px;
}
#rcplane p{
  padding:1rem 0.5rem;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
}
#xlr8:hover{
  scale:1.01;
}
#rcplane:hover{
  scale:1.01;
}
.xlr8image{
  width:40px;
  height:40px;
  margin-top:2.5rem;
  margin-bottom:2.5rem;
  border-radius:50%;
  box-shadow: -10px 0 10px rgba(0,0,0,0.9);
  animation-name: tyre;
  animation-duration:3s;
  animation-fill-mode:backwards;
  animation-delay:0.1;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
#xlr8-head{
  display: flex ;
  gap:1rem;
}
#xlr8 img{
  width:20rem;
  border-radius: 10px;
  
}
#xlr8div{

  width:100%;
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding-bottom: 3rem;
}
.rcimage{
  width:40px;
  height:40px;
  margin-top:2.5rem;
  margin-bottom:2.5rem;
  border-radius:10px;
  box-shadow: -10px 0 10px rgba(0,0,0,0.9);
  animation-name: tyrea;
  animation-duration:3s;
  animation-fill-mode:backwards;
  animation-delay:0.1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
#rcplane-head{
  display: flex ;
  flex-direction:row-reverse;
  gap:1rem;
}
#rcplanediv{
  
  width:100%;
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding-bottom: 3rem;
}
#rcplane img{
  width:20rem;
  border-radius: 10px;
  float:left;
}

#rcplane video{
  width:20rem;
  border-radius: 10px;
  float:left;
}

  

@keyframes tyre{
  0%{
    transform: translateX(0) ;
  }
  100%{
    transform:translateX(700px) ;
  }
}
@keyframes tyrea{
  0%{
    transform: translateX(0) translateY(0) ;
  }
  50%{
    transform:translateX(-350) translateY(0);
  }
  100%{
    transform:translateX(-900px) translateY(-200px);
  }
}
@media(max-width:800px){
  #xlr8 p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
  }
  #rcplane p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
  }
  #xlr8 img{
    width:17rem;
    border-radius: 10px;
  }
  #rcplane img{
    width:17rem;
    border-radius: 10px;
  }
  #rcplane video{
    width:17rem;
    border-radius: 10px;
  }

}
@media(max-width:600px){
  #xlr8 p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
  }
  #rcplane p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
  }
  #xlr8 img{
    width:10rem;
    border-radius: 10px;
  }
  #rcplane img{
    width:10rem;
    border-radius: 10px;
  }
  #rcplane video{
    width:10rem;
    border-radius: 10px;
  }
}
@media(max-width:300px){
  #xlr8 p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
  }
  #rcplane p{
    padding:1rem 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
  }
  #xlr8 img{
    width:10rem;
    border-radius: 10px;
  }
  #rcplane img{
    width:7rem;
    border-radius: 10px;
    height:20rem;
  }
  #rcplane video{
    width:7rem;
    border-radius: 10px;
    height:20rem;
  }
}