body{
  margin:0;
  padding:0;
  background:linear-gradient(90deg,rgb(227, 222, 230) 0%, rgb(140, 221, 253) 35%, rgb(103, 219, 243) 100%);
  
}
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
  font-family:"Montserrat";
}
nav{

  width:90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin:0 auto;

}
#sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color:rgba(255, 255, 255, 0.388);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem;
  padding:1rem;

}
.bx{
  order:1
}


#sidebar li{
 width:100%
}
#sidebar a{
  width:100%;
  color:white;
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  

}
#sidebar a:hover{
  color:red;
  scale:1.02;
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);;
  border-radius: 5px;
  
}
nav h1{
  padding:80px;
  transition:all 0.4s ease-in-out;
}
nav h1:hover{
  transform: rotate(360deg);
}
nav #pages{
  display:flex;
  justify-content: center;
  position:relative;
  gap:2rem;

}
nav #pages a{
  margin-left:0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
  color:black;
  opacity:.55;
  letter-spacing: 3px;
  font-weight:300;
  position:relative;
}
nav #pages i{
  margin-left:50px;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: 2;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  background-color: #63bbd8;
  
 
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  transition: 10;
}

.dropdown-content a {
   
  padding: 10px;
  margin:0;
  display: inline-block;
  color:white;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color:red;

}
.menu-btn{
  display:none;
}
@media(max-width:500px){
  #sidebar{
    width:100%;
    
  }
}
@media (max-width:800px){
  #hidden{
    display:block;
  }
  .menu-btn{
    display:block;
  }
}
@media(max-width:800px){
  .hide{
    display:none;
  }
}
#main2{
  display:flex;
}
#main2 img{
  width:20%;
  
  margin-left: 1rem;
  margin-right: 1rem;
}
#main h1{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  opacity: 0.8;
}
#main2 p{
  border-left: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1.7rem;
}
#main3{
  display:flex;
  width:30%;
  border: 2px solid rgb(93, 112, 120);
  box-shadow: -10px 0 10px rgba(6, 6, 6, 0.3);
  border-radius: 5px;;
}
#main3 img{
  width:30%;
  height:30%;
  padding-top: 1rem;
  
}

#main3 #submain3{
  border-left: 0.5px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}
#main3 #submain3 h3{
  text-align: center;
  font-size: 30px;
}
#mainall{
  display: flex;
  margin: 5%;
  gap:1rem;
}
h2{
  text-align: center;
  margin-bottom: 1rem;
  margin-top:1rem;
}
#main3 #submain3 p{
  font-size:15px;
}
@media(max-width:1000px){
  #main3 #submain3 h3{
    font-size:22px;
  }
  #mainall{
    gap:0.5rem;
  }
  #main3 #submain3 p{
     font-size:13px;
  }
  h2{
    margin-bottom:0;
  }
}@media(max-width:800px){
  #mainall{
    flex-direction: column;
    gap:1rem;
  }
  #main3{
    display:flex;
    width:100%;
    border: 2px solid rgb(93, 112, 120);
    box-shadow: -10px 0 10px rgba(6, 6, 6, 0.3);
    border-radius: 5px;

  }
  #main2 p{
    font-size: 1rem;;
  }
}
@media(max-width:300px){
  #main2 img{
    width:30%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #main h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    opacity: 0.8;
  }
  #main2 p{
    border-left: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
}}